.AllBlogs {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


@media (max-width: 1118px) {
  .AllBlogs {

    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 700px) {
  .AllBlogs {

    grid-template-columns: repeat(1, 1fr);

  }
}