.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* border: 1px solid; */
  }
  
  .coverPhoto {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    filter: blur(2px);
    -webkit-filter: blur(2px)
  }
  
  .profilePhotoContainer {
    position: relative;
    margin-top: -20rem;
  }
  
  .profilePhotoBorder {
    width: 12.8rem;
    height: 12.8rem;
    border-radius: 50%;
    border: 0.4rem solid white;
    overflow: hidden;
  }
  
  .buttonsContainer {
    position: relative;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  
  .followButton {
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: black;
    border-radius: 0.5rem;
  }
  
  .messageButton {
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
  }
  